/*==============================================
 Error Page 
===============================================*/
.error-page {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.error-page__inner {
    position: relative;
    display: block;
    text-align: center;
}

.error-page__img {
    position: relative;
    display: block;
}

.error-page__img img {
    width: auto;
}

.error-page__content {
    position: relative;
    display: block;
}

.error-page__title {
    font-size: 48px;
    font-weight: 500;
    line-height: 58px;
    color: var(--nexin-black);
    text-transform: capitalize;
    margin: 45px 0 22px;
}

.error-page__text {
    font-weight: 300;
    font-family: var(--nexin-font-two);
}

.error-page__btn-box {
    position: relative;
    display: block;
    margin-top: 34px;
}

.error-page__btn-box .thm-btn {
    color: var(--nexin-white);
    background-color: var(--nexin-black);
}

.error-page__btn-box .thm-btn::before {
    background-color: var(--nexin-base);
}

.error-page__btn-box .thm-btn::after {
    background-color: rgba(var(--nexin-base-rgb), .30);
}

/*==============================================
    End   
===============================================*/