/*==============================================
  Faq One  
===============================================*/
.faq-one {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.faq-one__inner {
    position: relative;
    display: block;
    border-top: 1px solid var(--nexin-bdr-color);
    padding-top: 52px;
}

.faq-one__inner .faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    border-bottom: 1px solid var(--nexin-bdr-color);
}

.faq-one__inner .faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    margin-bottom: 14px;
    padding-bottom: 6px;
}

.faq-one__inner .faq-one-accrodion .accrodion-title h4 {
    margin: 0;
    font-size: 24px;
    font-weight: 700;
    line-height: 34px;
    color: var(--nexin-black);
    font-family: var(--nexin-font);
    text-transform: capitalize;
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one__inner .faq-one-accrodion .accrodion+.accrodion {
    margin-top: 22px;
}

.faq-one__inner .faq-one-accrodion .accrodion-title h4::before {
    content: "\f067";
    font-family: "Font Awesome 5 Pro";
    font-weight: 700;
    font-size: 17px;
    color: var(--nexin-black);
    position: absolute;
    top: 50%;
    right: 0;
    line-height: 20px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-one__inner .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
    content: "\f00d";
}

.faq-one__inner .faq-one-accrodion .accrodion-content {
    position: relative;
    padding-bottom: 21px;
    padding-right: 10px;
    margin-top: -6px;
}

.faq-one__inner .faq-one-accrodion .accrodion-content p {
    margin: 0;
    text-transform: capitalize;
}

/*==============================================
   FAQ Two  
===============================================*/
.faq-two {
    position: relative;
    display: block;
    padding: 120px 0 120px;
    z-index: 1;
}

.faq-two__left {
    position: relative;
    display: block;
    margin-right: 104px;
}

.faq-two__left .faq-one-accrodion .accrodion {
    position: relative;
    display: block;
    border: 1px solid var(--nexin-bdr-color);
    background: var(--nexin-primary);
    border-radius: 8px;
    overflow: hidden;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-two__left .faq-one-accrodion .accrodion-title {
    position: relative;
    display: block;
    cursor: pointer;
    padding: 14px 20px 18px;
    transition: all 200ms linear;
    transition-delay: 0.1s;
}

.faq-two__left .faq-one-accrodion .accrodion-title h4 {
    margin: 0;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: var(--nexin-black);
    position: relative;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
}

.faq-two__left .faq-one-accrodion .accrodion+.accrodion {
    margin-top: 20px;
}

.faq-two__left .faq-one-accrodion .accrodion-title h4::before {
    content: "\f107";
    font-family: "Font Awesome 5 Pro";
    font-weight: 400;
    font-size: 25px;
    color: var(--nexin-black);
    position: absolute;
    top: 50%;
    right: 0px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    text-align: center;
}

.faq-two__left .faq-one-accrodion .accrodion.active .accrodion-title h4::before {
    content: "\f106";
    color: #BFF747;
}

.faq-two__left .faq-one-accrodion .accrodion-content {
    position: relative;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 15px;
    border-radius: 8px;
    margin-top: -2px;
}

.faq-two__left .faq-one-accrodion .accrodion-content p {
    margin: 0;
    font-size: 18px;
    line-height: 27px;
    font-weight: 300;
    font-family: var(--nexin-font-two);
}


.faq-two__right {
    position: relative;
    display: block;
}

.faq-two__img {
    position: relative;
    display: block;
}

.faq-two__img img {
    width: 100%;
}

/*==============================================
    Faq Page  
===============================================*/
.faq-page {
    position: relative;
    display: block;
    padding: 115px 0 120px;
    z-index: 1;
}












/*==============================================
    End   
===============================================*/