/*--------------------------------------------------------------
# Page Header
--------------------------------------------------------------*/
.page-header {
    position: relative;
    display: block;
    overflow: hidden;
    background-color: var(--nexin-black);
    z-index: 1;
}

.page-header__bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: .30;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    z-index: -1;
}

.page-header__inner {
    position: relative;
    display: block;
    padding: 276px 0 142px;
    text-align: center;
    z-index: 15;
}

.page-header__img-1 {
    position: absolute;
    bottom: 0;
    right: 0px;
}

.page-header__inner h3 {
    font-size: 54px;
    color: var(--nexin-white);
    line-height: 1em;
    font-weight: 600;
    margin-bottom: 16px;
    text-transform: capitalize;
}

.thm-breadcrumb__inner {
    position: relative;
    display: block;
}

.thm-breadcrumb {
    position: relative;
    display: block;
}

.thm-breadcrumb li {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--nexin-white);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: var(--nexin-font-two);
}

.thm-breadcrumb li+li {
    margin-left: 5px;
}

.thm-breadcrumb li a {
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 400;
    line-height: 18px;
    color: var(--nexin-base);
    text-transform: capitalize;
    -webkit-transition: all 500ms ease;
    transition: all 500ms ease;
    font-family: var(--nexin-font-two);
}

.thm-breadcrumb li:hover a {
    color: var(--nexin-white);
    opacity: 1;
}