/*--------------------------------------------------------------
# Sliding Text One
--------------------------------------------------------------*/
.sliding-text-one {
    position: relative;
    display: block;
    padding: 112px 0 112px;
    z-index: 1;
}

.sliding-text-one__wrap {
    position: relative;
    display: block;
}

.sliding-text__list {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    width: fit-content;
}

.sliding-text__list li {
    position: relative;
    display: block;
    float: left;
    margin-right: 40px;
}

.sliding-text__title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 70px;
    line-height: 70px;
    font-weight: 800;
    font-style: normal;
    color: transparent;
    -webkit-text-stroke: 1px var(--nexin-black);
    text-transform: capitalize;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    font-family: var(--nexin-font-two);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sliding-text__img {
    position: relative;
    display: block;
    top: 7px;
}

.sliding-text__img img {
    width: auto;
}

.sliding-text__title:before {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    color: var(--nexin-black);
    white-space: nowrap;
    content: attr(data-hover);
    transition: all 0.5s cubic-bezier(0.17, 0.67, 0.32, 0.87);
}

.sliding-text__list li:hover .sliding-text__title:before {
    width: 100%;
    color: var(--nexin-black);
}

/*--------------------------------------------------------------
# Sliding Text Two
--------------------------------------------------------------*/
.sliding-text-two {
    position: relative;
    display: block;
    padding: 30px 0 32px;
    background-color: var(--nexin-base);
    z-index: 1;
}

.sliding-text-two__wrap {
    position: relative;
    display: block;
}

.sliding-text-two__list {
    position: relative;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    flex-wrap: nowrap;
    width: fit-content;
}

.sliding-text-two__list li {
    position: relative;
    display: block;
    float: left;
    margin-right: 40px;
}

.sliding-text-two__title {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 48px;
    line-height: 48px;
    font-weight: 500;
    font-style: normal;
    color: var(--nexin-black);
    text-transform: capitalize;
    transition: all 200ms linear;
    transition-delay: 0.1s;
    font-family: var(--nexin-font-two);
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
}

.sliding-text-two__img {
    position: relative;
    display: block;
    top: 10px;
}

.sliding-text-two__img img {
    width: auto;
}



/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/









/*--------------------------------------------------------------
# End
--------------------------------------------------------------*/