:root {
    --nexin-font-two: "Kanit", sans-serif;
    --nexin-base: #F9FF04;
    --nexin-base-rgb: 249, 255, 4;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--nexin-white);
}

.home-body-color {
    background-color: var(--nexin-black);
}